
  <!-- {{loginrequest | async |json}} -->
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
             
            <h2 class="card-title text-center">Sign Up</h2>
            <!-- <div class="avatar"> -->
                <!-- <img  src="https://cdn3.iconfinder.com/data/icons/users-6/100/654853-user-men-2-512.png" alt="Avatar"> -->
              <!-- </div> -->
              <form (submit)="register()">
                <div class="form-label-group shift">
                    <input [(ngModel)]="credentials.name" name = "name"  id="inputName" class="form-control" placeholder="Name" required>
                    <!-- <label for="inputPassword">Password</label> -->
                  </div>

                <div class="form-label-group shift">
                    <input [(ngModel)]="credentials.username"  name = "username"  id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <!-- <label for="inputEmail">E-mail</label> -->
                  </div>

                  <div class="form-label-group shift">
                      <input [(ngModel)]="credentials.password"  name = "password"  id="password" class="form-control" type="password" placeholder="Password" required autofocus>
                      <!-- <label for="inputEmail">E-mail</label> -->
                    </div>

                <div class="form-label-group shift">
                  <input [(ngModel)]="credentials.email"  name = "email"  id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
                  <!-- <label for="inputEmail">E-mail</label> -->
                </div>

                
                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase size" >Register</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>