.nav-style{
  font-size:20px;
}
/* .container-fluid{
  background:blue;
} */

.digicel{
  color:red;
  font-weight: 1000;
  font-size:40px;
  
}

#nav ul {
  display: inline-block;
  list-style-type: none;
} 

.padtop{
  padding-top:20px;
}


